# Backend
backend/venv/
backend/.env
backend/__pycache__/
backend/**/__pycache__/
backend/*.egg-info/
backend/.pytest_cache/
backend/storage/

# Frontend
frontend/node_modules/
frontend/dist/

# OS/editor
.DS_Store
*.log
